<router-outlet></router-outlet>
<body>
  <h1>Learning about {{ title }}</h1>

  <h3>My Information</h3>

  <div class="info">
    <p class="title">Name :</p>
    <p class="value">{{ fullName }}</p>
  </div>

  <div class="info">
    <p class="title">Father Name :</p>
    <p class="value">{{ fatherName }}</p>
  </div>

  <div class="info">
    <p class="title">Age :</p>
    <p class="value">{{ myage }}</p>
  </div>

  <div class="info">
    <p class="title">Birth year :</p>
    <p class="value">{{ birthYear }}</p>
  </div>
</body>
