body {
  background-color: aquamarine;
  color: blueviolet;
}
h1 {
  text-align: center;
  border-radius: 1rem;
}

.info {
  display: flex;
  flex-direction: row;
}

.title {
  font-weight: bold;
  padding-right: 2px;
}
